.left-image > img{
    display: block;
    width: 400px ;
    height: auto;
}

@media screen and (max-width: 720px){
    .left-image > img{
        display: block;
        width: 100vw ;
        height: auto;
    }
}